<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MadLib</title>

    <link rel="stylesheet" href="/styles/madlibs.css">

    <style>
        body {
            background-image: url('images/<%= bg %>.jpg');
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>

</head>

<body>
    <p>
        One sunny morning on <%= date %>, <%= name %> woke up feeling <%= adj1 %> and <%= emot %>. It was a <%= adj2 %> day outside, with
        the sun <%= verb1 %> in the sky. <%= name %> decided to start the day with a delicious breakfast. They made
        <%= food %> and <%= bev %>, and it tasted <%= adj3 %>.
        <br>
        After breakfast, <%= name %> decided to go on an adventure. They grabbed their <%= noun %> and headed to the <%=
        place %>. At the <%= place %>, they saw a <%= animal %> <%= verb2 %>. It was <%= adj4 %> and <%= color %>.
        <br>
        <%= name %> spent the rest of the day <%= verb3 %> and enjoying the beautiful <%= noun2 %>. When it was time to
        go home, <%= name %> felt <%= emot2 %> and couldn't wait to tell their friends about their amazing day at the <%=
        place %>.
    </p>
</body>

</html>